strong {
    font-weight: bold;
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
}

.carousel-item {
    height:450px;
}

.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.7);
    opacity: 0.3;
}


.carousel-caption {
    margin-bottom: 50px;
}


.carousel-image-1 {
    background:url('./media/slider1.jpg');
    background-size:cover;
}

.carousel-image-2 {
    background:url('./media/slider2.jpeg');
    background-size:cover;
    background-position: center;
}

.carousel-image-3 {
    background:url('./media/slider3.jpeg');
    background-size:cover;
}

#home-icons .fa{
    font-size: 55px;
}

.home-overlay {
    background-color: rgba(0,0,0,0.3);
    background-size: cover;
}

#home-heading {
    position: relative;
    min-height: 200px;
    background: url('./media/skyscraper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
}



.graph {
    border-radius: 5%;
}

#main-footer {
    width: 100%;
    background: #000;
    color: #ccc;
    position: absolute;
    bottom: 0;

}

.gallery-container {
    width: 650px;
    margin: auto;
}

.gallery-row {
    text-align: center;
    padding-bottom: 100px;
}

.gallery-image-column {
    padding-bottom: 20px;
}

.gallery-image {
    height: 200px;
}

.modal-image {
    height: 400px;
}



.newsletter-row {
    padding-bottom: 100px;
}

.blog-cards {
    margin-bottom: 100px;
}